.gah:before{
	border: 1px solid #FFFFFF;
	padding-left: 40px; 
	padding-right: 40px; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	color: #FFFFFF;
}

.gah:hover{
	border: 2px solid #fcd307;
	padding-left: 40px; 
	padding-right: 40px; 
	padding-top: 10px; 
	padding-bottom: 10px; 
	color: #fcd307;
	background-color: #000000;
}